
@use "@/assets/variables";

.social-media-links {
    display: flex;
    justify-content: space-evenly;

    .media-item {
        a {
            color: variables.$link-color-light;

            @media (min-width: variables.$max-mobile-width) {
                color: unset;
            }
        }
    }

    @media (min-width: variables.$max-mobile-width) {
        justify-content: unset;
        gap: 2vh;
        flex-direction: column;
        position: fixed;
        left: 40px;
        bottom: 0;

        &::after {
            content: "";
            display: block;
            width: 1px;
            height: 12vh;
            margin: 0px auto;
            background-color: variables.$txt-color-light;
        }
    }
}


.dark-theme {
    .social-media-links {
        .media-item {
            a {
                color: variables.$link-color-dark;

                @media (min-width: variables.$max-mobile-width) {
                    color: unset;
                }
            }
        }

        @media (min-width: variables.$max-mobile-width) {
            &::after {
                background-color: variables.$txt-color-dark;
            }
        }
    }
}
