
$bg-color-light: #fff;
$txt-color-light: #1D3557;
$txt-highlight-light: #A8DADC;
$link-color-light: #457B9D;

$bg-color-dark: #000;
$txt-color-dark: #e5e5e5;
$txt-highlight-dark: #fca311;
$link-color-dark: #8d99ae;

$max-mobile-width: 768px;