
@use "@/assets/variables";

@use "~bootstrap/scss/bootstrap";
@use "~bootstrap-icons/font/bootstrap-icons" with (
	$bootstrap-icons-font-dir: "~bootstrap-icons/font/fonts"
);

@use '@/assets/header';
@use '@/assets/footer';

body {
	background-color: variables.$bg-color-light;
	color: variables.$txt-color-light;
	font-size: 1.2em;
	font-family: "Lato", serif;
	font-weight: 400;
	font-style: normal;

	.app-main {
		margin-top: 10vh;
		@media (min-width: variables.$max-mobile-width) {
			margin: 10vh 20vh 0 20vh;
		}
	}

	.app-link {
		color: variables.$link-color-light;
	}

	.custom-cursor-pointer {
		position: fixed;
		user-select: none;
		pointer-events: none;
		will-change: transform;
		width: 40vh;
		height: 40vh;
		z-index: -1;
		background: radial-gradient(circle, rgba(29, 53, 87, 0.07) 10%, rgba(255, 255, 255, 0.8) 70%);
		display: none;
		@media (min-width: variables.$max-mobile-width) {
			display: block;
		}
	}

	&.dark-theme {
		background-color: variables.$bg-color-dark;
		color: variables.$txt-color-dark;

		.app-link {
			color: variables.$link-color-dark;
		}

		.custom-cursor-pointer {
			background: radial-gradient(circle, rgba(255, 255, 255, .1) 10%, rgba(0, 0, 0, .8) 80%);
		}
	}
}

